html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Press Start 2P', cursive;

}

.game-ui {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    background: url(../img/bg.png) no-repeat;
    background-position: center;
    background-size: cover !important;
    display: none;
}

.canvas-container{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.game-menu {
    overflow: auto;
    margin: auto;
    top: 15%; left: 0; bottom: 0; right: 0;
}

.game-start-menu,
.game-pause-menu,
.game-over-screen,
.highscore-screen {
    display: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

.button {
    display: block;
    max-width: 300px;;
    margin: 20 auto;
    height: 50px;
    padding-top: 10px;
    line-height: 30px;
    border: 1px solid #AA2666;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #FB1886;
    background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #B30D5D 100%);
    background-image:         linear-gradient(to bottom, #FB1886 0%, #B30D5D 100%);
    border-radius: 5px;
}

.button:hover,
.button:focus,
.button:active {
    color: white;
    background-color: #B30D5D;
    background-image: -webkit-linear-gradient(bottom, #B30D5D 0%, #FB1886 100%);
    background-image:         linear-gradient(to bottom, #B30D5D 0%, #FB1886 100%);
}

canvas{
    z-index: 1 !important;
}

.pause{
    color: white;
    padding-top: 5px;
    float: right;
    margin-top: -77% !important;
    margin-right: 10px;
    opacity: 0.6;
    /* display: none; */
    position: relative !important;
    z-index: 2 !important;
}

#content{
    padding-top: 10px;
    padding-bottom: 10px;
    background: white !important;
}

h1.game-over{
    font-size: 6em;
    font-weight: 800;
}

h1.highscore-h1{
    font-size: 2em !important;
    font-size:  600;
}

ul#highscores{
    max-height: 200px;
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
    overflow-y: scroll;
}

ul#highscores li {
    width: 100%;
    margin-bottom: 5px;
    font-size: 2em;
    list-style: circle !important;
    color: white !important;
    background: green !important;
    /* border-radius: 50%; */
}

